.ContextualToggle {
	position: relative;
	min-width: 3rem;
	padding-bottom: 0.2rem;
	line-height: 1.2rem;
}
.ContextualToggle-select {
	height: 100%;
	cursor: pointer;
	opacity: 0;
	width: 100%;
	max-width: 3rem;
	position: relative;
	z-index: 1;

	background-color: transparent;
	color: transparent;
	border: none;
}
.ContextualToggle:focus .Contextual-nav {
	opacity: 1;
}


.ContextualToggle .Button {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ContextualToggle-select:focus {
	outline: 4px solid var(--theme-color);
	opacity: 1;
}
