.Note {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.Note-header {
}
.Note-back {
	color: blue;
	font-size: 1.5rem;
}
.Note-id {
	color: gray;
}


.Editor {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.CodeMirror {
	flex-grow: 1;
}

.Editor .CodeMirror {
	background-color: transparent;
}
.Editor .CodeMirror-lines {
	background-color: lightgray;
}

.CodeMirror {
	padding: 1rem;
}

.CodeMirror-placeholder {
  color: gray !important;
}
