/*
  html elements basics
*/
:root {
	--theme-color: gold;
	--kbd-color: cyan;
	--active-color: darkgreen;
}
html {
    box-sizing: border-box;
    font-size: 19px;
    min-height: 100%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

section {
    padding: 1rem;
}

h1,
h2,
p {
	margin-top: 0;
}

p {
    line-height: 1.6;
}

a {
	text-decoration: none;
}
a:focus,
a:hover,
a:active,
a.is-active {
	outline: 3px solid currentColor;
}

kbd {
  font-size: 1rem;
  background-color: var(--kbd-color);
  padding: 0.2rem 0.7rem;
  margin: 0 0.3rem;
}

li {
	margin-bottom: 0.6rem;
}

i {
	font-style: italic;
}

/* customs */
.Logo {
	max-width: 3rem;
}

.Button {
	background-color: var(--kbd-color);
	border: none;
	cursor: pointer;
}

.Button::focus,
.Button::active {
	border: 3px solid var(--kbd-color);
}


/* Utilities */
.u-yellow {
	background-color: var(--theme-color);
}


ls-screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* for caption on top */
    position: relative;
		padding: 1rem;
}

ls-screen[left] {
	align-items: flex-start;
}
ls-screen[almost] {
	min-height: 60vh;
}
ls-container {
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
}
