@keyframes disappear {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.4;
	}
}
/* Main nav button for the app */
.Nav {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 3; /* above editor */
}
.Nav a {
	background-color: var(--theme-color);
	width: 2.5em;
	height: 2.5em;
	display: block;
	border-radius: 2px;
	animation: disappear 10s 1;
	animation-fill-mode: forwards;
}
.Nav a:hover {
	animation: none;
}
.Nav a.is-active {
	display: none;
}

@media screen (min-width: 30rem) {
	.Nav a {
		padding: 1.6rem;
	}
}
.Nav.Nav--toHome a {
	margin: 0;
	font-size: 1rem;
	outline-offset: 0rem;
	transition: outline 300ms ease;
	outline-color: var(--theme-color);
	outline-width: 1.4rem;
}
.Nav.Nav--toHome a:hover {
	outline-offset: -1.2rem;
	outline-style: dotted;
}
.Nav--example {
	position: static;
	display: inline-block;
}
.Nav--example a {
	width: 1rem;
	height: 1rem;
	padding: 0;
}

/* Navigation menu */

.Navigation a {
	padding: 0.7rem;
	margin: 0.5rem;
	font-size: 1.3rem;
	background-color: var(--theme-color);
	border-radius: 6px;
}
@media screen (min-width: 30rem) {
	.Navigation a {
		font-size: 2rem;
	}
}

/* Navigation note */

.Menu {
	display: flex;
	align-items: center;
}

.Menu-item {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}
