.Notes-header {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	align-items: center;
}
.Notes-new {
	display: flex;
	align-items: center;
	margin-left: 0.5rem;
}
.Notes-new:before {
	content: '—';
	margin-left: 0.3rem;
	margin-right: 0.5rem;
}
