.NoteCard {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
	align-items: center;
}
.NoteCard-body:hover {
	outline: 3px solid transparent;
	background-color: lightgray;
}
.NoteCard-content {
	word-wrap: break-word;	
}
.NoteCard-body {
	order: 2;
	color: black;
	display: inline-block;
	margin-bottom: 0.1rem;
	padding-left: 0.1rem;
	padding-right: 0.1rem;
	word-break: break-all;
}

.NoteCard-aside {
	order: 1;
	padding-left: 0.1rem;
	padding-right: 0.1rem;
	font-size: 0.7rem;
	display: flex;
	align-self: flex-start;
}
.NoteCard-id {
	color: blue;
	margin-left: 1rem;
	font-size: 0.8rem;
}
.NoteCard-length {
	margin-left: 0.5rem;
	font-size: 0.6rem;
}

.NoteCard-aside > * {
	margin-right: 0.5rem;
}
