/* the user account / data storage UI */

#RemoteStorageWidget #remotestorage-widget {
    position: static;
}
#RemoteStorageWidget .rs-box.rs-selected {
    max-height: none;
}

/* #remotestorage-widget::before { */
/* 		content: 'User'; */
/* 		position: absolute; */
/* 		left: -2rem; */
/* 		top: 1rem; */
/* 		opacity: 0.5; */
/* 		font-size: 0.7rem; */
/* } */
